@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: top;
}

body {
    color: #333;
    background-color: #fff;
}


.wrap {
    width: 100%;
    position: relative;
}

header {
    width: 100%;
    height: 100px;
    background-color: #1f418b;
}

header .h_inner {
    width: 1200px;
    height: 100%;
    margin: auto;
    position: relative;
}


header .h_inner>a {
    width: 200px;
    height: 100%;
    align-content: center;
}

nav {
    position: absolute;
    top: 25px;
    right: 50px;
    z-index: 99;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    width: 150px;
    text-align: center;

}

nav>ul>li>a {
    height: 50px;
    align-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #1f418b;
    background-color: #fff;
}

nav>ul>li>a.on,
nav>ul>li:hover>a {
    background-color: #7b92c4;
    color: #fff;
}

.sub {
    height: 200px;
    background-color: #dadada;
    display: none;
}

.sub>li {}

.sub>li>a {
    height: 50px;
    align-content: center;
    color: #1f418b;
}

.sub>li>a.on,
.sub>li:hover>a {
    background-color: #1f418b;
    color: #fff;
}


.slide {
    width: 1200px;
    height: 300px;
    background-color: saddlebrown;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slide>ul {
    display: flex;
    width: 3600px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slide>ul>li {
    width: 1200px;
    height: 300px;
}

.slide>ul>li>a {
    width: 100%;
    height: 100%;
    align-content: end;
}

.slide .s_text {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 30px 50px;
    color: #fff;
    text-align: right;
}

.slide .s_text>h2 {
    font-size: 25px;
}

.slide .s_text>p {
    font-size: 22px;
    margin-top: 5px;
}

.slide .s1 {
    background: url(/img/img1.jpg) no-repeat center/cover;
}

.slide .s2 {
    background: url(/img/img2.jpg) no-repeat center/cover;

}

.slide .s3 {
    background: url(/img/img3.jpg) no-repeat center/cover;

}

main {
    width: 1200px;
    height: 200px;
    margin: auto;
    display: flex;
}

.cont {
    width: 400px;
    height: 100%;
    position: relative;
}

.cont>ul {
    display: flex;
}

.cont>ul>li {
    width: 130px;
    background-color: #7b92c4;
}

.cont>ul>li.on {
    background-color: #1f418b;
}

.cont>ul>li>a {
    width: 100%;
    height: 40px;
    align-content: center;
    color: #fff;
    text-align: center;

}

.cont>ul>li>a>h3 {}


.notice {}

.notice>li {
    border-bottom: 1px solid #fff;
    margin: 3px 0;
    padding: 3px 0;
}

.notice>li:hover {
    color: #7b92c4;
    border-bottom: 1px solid #7b92c4;

}

.notice>li>a {
    display: flex;
    justify-content: space-between;
}


.gall {
    display: none;
}

.gall>ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.gall>ul>li {}

.gall>ul>li>a {
    border: 1px solid #fff;
}


.tab {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: #1f418b;
    color: #fff;
    padding: 20px;
}


.banner {
    width: 400px;
    height: 100%;

}

.banner>a {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    background: url(/img/banner.jpg) no-repeat center/cover;
}


.banner>a>ul {
    color: #fff;
}

.banner>a>ul>li {}

.direct {
    width: 400px;
    height: 100%;
    background-color: #7b92c4;
    color: #fff;
}

.direct>h3 {
    padding: 10px;
}

.direct>ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    text-align: center;
}

.direct>ul>li {}

.direct>ul>li>a {}

.direct>ul>li>a>img {
    border-radius: 10px;
    border: 1px solid #fff;
}

.direct>ul>li>a>p {
    margin-top: 5px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #dadada;


}

footer .f_inner {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

footer .f_inner>a {
    width: 200px;
    height: 100%;
    align-content: center;
}

footer .f_inner .f_menu {}

footer .f_inner .f_menu>ul {
    display: flex;
    gap: 20px;
}

footer .f_inner .f_menu>ul>li {
    padding-right: 20px;
    border-right: 1px solid #333;
}

footer .f_inner .f_menu>ul>li>a {}

footer .f_inner .f_menu>ul>li:last-of-type {
    border: none;
}

footer .f_inner .f_menu .copy {
    margin-top: 5px;
}

.pop {
    width: 450px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #1f418b;
    text-align: center;
    padding: 40px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    display: none;
}

.pop>h2 {}

.pop>p {
    margin-top: 20px;
}

.pop .pop_off {
    position: absolute;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}

.pop .pop_off:hover {
    color: #1f418b;
}